<h1 class="text-center mt-3">Transaction List </h1>

<div class="container">
<table class="table mt-3">
<thead>
  <tr>
    <th scope="col"></th>
    <th scope="col">Symbol</th>
    <th scope="col">Buy Price</th>
    <th scope="col">Quantity</th>
    <th scope="col">Date</th>
    <th scope="col">Total Investment</th>
  </tr>
</thead>
<tbody>
  <% @transactions.each do |t|%>
  <tr>
    <td></td>
    <td class="text-uppercase"><%= t.your_stock.stock_symbol %></td>
    <td><%= t.your_stock.buy_price %></td>
    <td><%=t.your_stock.quatity %></td>
    <td><%=t.created_at %></td>
    <td><%= t.amount %></td>
  </tr>
  <% end %>
</tbody>
</table>
</div>
